{% extends "layout.twig" %}

{% block bodyId %}error{% endblock %}
{% block metaTitle %}{% endblock %}
{% block metaDescription %}{% endblock %}

{% block content %}
<p>An error occurred!</p>
{% endblock %}