{% extends "layout.twig" %}

{% block bodyId %}not-found{% endblock %}
{% block metaTitle %}{% endblock %}
{% block metaDescription %}{% endblock %}

{% block content %}
<p>Resource not found...</p>
{% endblock %}